* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #008a83;
  --secondaryColor: #269b95;
  --white: #fff;

  --black: #000000;
  --borderRadius: 10px;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-bar {
  margin: 2rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .search-bar {
    flex-direction: column;
  }
}
@media (min-width: 780px) {
  .search-bar {
    width: 60%;
    margin: 2rem auto;
  }
}

.search-bar input {
  width: 100%;
  padding: 0.5em;
  background: #8280819a;
  color: var(--white);
  opacity: 0.7;
  font-size: larger;
  border-radius: var(--borderRadius);
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #000000;
}
::placeholder {
  color: var(--white);
}

.heading {
  text-align: center;
}

.books-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  padding: 1rem;
  gap: 1rem;
}
